.button{
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:white;
    background-color: #c13a00;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
}